.box {
    position: relative;
    height: 600px;
    width: 800px;
    border: 1px #f3f3f3 solid;
    border-radius: 12px;
    background-color: #FBFBFB;
}

.header {
    height: 78px;
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-color: #F3F3F3;
}

.header p {
    margin-top: 2px;
}

.nav {
    float: left;
    margin-top: 20px;
    margin-left: 16px;
    font-size: 18px;
    display: inline-flex;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    transition: background-color 0.1s ease;
}

.nav:active {
    background-color: #dcdcdc;
    margin-right: 10px;
    transition: background-color 0.1s ease;
}

.header > .nav img {
    height: 21px;
    width: 12px;
    margin-right: 12px;
}

.header > .logo {
    float: right;
    margin-top: 28px;;
    margin-right: 22px;
}

.header > .logo img {
    height: 26px;
    width: 125px;
}

.content {
    display: grid;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0px 15px;
    max-height: 466px;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .box {
      height: 100%;
      width: 100%;
    }
}