@import "skin.css";
@import "main.css";

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins.woff2') format('woff2'),
    url('/fonts/Poppins.woff') format('woff'),
    url('/fonts/Poppins.ttf') format('truetype'),
    url('/fonts/Poppins.otf') format('opentype');
}

@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('/fonts/SegoeUI-Bold.woff') format('woff');
}

html, body, #root, .container {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Segoe UI",-apple-system,system-ui,BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F0F1F5;
}
