/* BEGIN COMMON */

.header > .items, .wizard, .footer {
    max-width: 100vh;
    margin: 0 auto;
}

/* END COMMON */

/* BEGIN HEADER */

.header {
    position: relative;
    height: 87px;
    width: 100%;
    border-bottom: 1px #D5D5D5 solid;
    background-color: #FFFFFF;
}

.header > .items {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 54px;
    width: 200px;
    margin-top: -10px;
    background-image: url("/images/logo.png");
}

.lang {
    height: 35px;
    font-size: 13px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 3px;
    color: #858C99;
    background-color: #F2F2F2;
}

/* END HEADER */

/* BEGIN WIZARD */

.wizard {
    position: relative;
    align-items: center;
}

.page-title {
    margin: 40px 0 40px 0;
    font-size: 24px;
    color: #222222;
}

.page-title > span {
    font-weight: bolder;
}

/* END WIZARD */

/* BEGIN WIZARD-STEPS */

.steps {

}

.steps > .step-item {
    display: flow-root;
    border: 1px #D8E0ED solid;
    border-radius: 10px;
    padding: 25px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 8px 0 #9999992b;
    transition: height 0.3s ease-out;
}

.steps > .step-item:not(:last-child) {
    margin-bottom: 25px;
}

.collapsed {
    height: 28px !important;
}

.steps > .step-item > .step-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.steps > .step-item > .step-content {
    padding-top: 25px;
    padding-bottom: 25px;
}

.steps > .step-item > .step-bottom {
    display: flex;
    float: right;
    align-items: center;
}

.steps > .step-item > .step-bottom button {
    width: 140px;
    height: 48px;
    margin-left: 20px;
}

.steps > .step-item > .step-bottom span {
    font-size: 14px;
    color: #7A8391;
}

.steps > .step-item > .step-header > .step-left {
    display: flex;
}

.steps > .step-item > .step-header > .step-left > .step-number-inactive {
    background-color: #D8E0ED;
}

.steps > .step-item > .step-header > .step-left > .step-number-active {
    background-color: #6B30FF;
}

.steps > .step-item > .step-header > .step-left > .step-number-filled {
    background-color: #36C756;
}

.steps > .step-item > .step-header > .step-left > .step-number {
    height: 31px;
    min-width: 31px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    color: #FFFFFF;
    transition: background-color 0.3s ease-out;
}

.steps > .step-item > .step-header > .step-left > .step-text {
    margin-left: 15px;
}

.steps > .step-item > .step-header > .step-left > .step-text > .step-title-filled {
    color: #36C756 !important;
    margin-top: 5px;
}

.steps > .step-item > .step-header > .step-left > .step-text > .step-title-collapsed {
    color: #222222 !important;
    margin-top: 5px;
}

.steps > .step-item > .step-header > .step-left > .step-text > .step-title {
    color: #6B30FF;
    font-size: 19px;
    transition: margin-top 0.3s ease-out;
}

.steps > .step-item > .step-header > .step-left > .step-text > .step-desc {
    font-size: 14px;
    margin-top: 10px;
}

.steps > .step-item > .step-header > .step-edit-btn {
    margin-top: 5px;
    cursor: pointer;
    color: #C4CCD8;
}

/* END WIZARD-STEPS */

/* BEGIN FOOTER */

.footer {
    margin: 25px auto;
    text-align: center;
    font-size: 12px;
    overflow: auto;
}

.footer > .f-logo {
    height: 54px;
    width: 200px;
    margin: auto;
    background-image: url("/images/logo-gray.png");
}

.footer > .f-title {
    margin-top: 10px;
    color: #777777;
    margin-bottom: 25px;
}

.footer span {
    text-decoration: underline;
}

/* END FOOTER */

/* BEGIN MEDIA QUERIES */

@media only screen and (max-width: 850px) {
    .header > .items, .wizard, .footer, .finalize-step {
        max-width: 98%;
    }

    .page-title {
        text-align: center;
    }

    .method-list {
        display: block;
    }

    .method-item {
        width: 100%;
        margin: 0 0 10px 0;
        flex: unset !important;
    }

    .method-title {
        font-size: 16px !important;
    }

    .method-desc {
        font-size: 13px !important;
    }

    .vso-input {
        width: 35px !important;
        height: 33px !important;
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 2300px) {
    .header > .items, .wizard, .footer, .finalize-step {
        max-width: 937px;
    }
}

@media only screen and (max-width: 348px) {
    .vso-input {

    }
}

@media only screen and (max-width: 285px) {
    .lang {
        display: none;
    }

    .logo {
        margin: auto;
    }
}

/* END MEDIA QUERIES */
