input, select {
    border: unset;
    color: black;
    outline: none;
    -webkit-appearance: none;
}

input::placeholder {
    color: #666;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding-left: 20px;
    height: 65px;
    border: 1px #D8E0ED solid;
    color: #7A8391;
}

select::-ms-expand {
    display: none;
}

select:required:invalid {
    color: #666;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: #000;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    background-color: #6B30FF;
    color: #FFFF;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #7947f7;
    transition: background-color 0.4s ease;
}

button:active {
    background-color: #340c98;
    transition: background-color 0.4s ease;
}

.inverted-btn {
    background-color: #E9E0FF;
    border: 1px solid #6B30FF;
    color: #6B30FF;
    transition: background-color 0.4s ease;
}

.inverted-btn:hover {
    background-color: #7947f7;
    color: #ffffff;
    transition: background-color 0.4s ease;
}

.inverted-btn:active {
    background-color: #340c98;
    color: #ffffff;
    transition: background-color 0.4s ease;
}

.notify {
    padding: 26px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.notify img {
    margin-right: 15px;
}

.notify-warn {
    background-color: #FFF9EC;
}

.notify-err {
    background-color: #FFF1F0;
}

.c-input-tile {
    position: relative;
}

.c-input-tile span {
    position: absolute;
    background-color: white;
    margin-left: 20px;
    top: -8px;
    color: #D8E0ED;
    padding: 0 5px 0 5px;
}

.c-input-tile input {
    height: 65px;
    width: 329px;
    border: 1px #D8E0ED solid;
    border-radius: 3px;
    padding-left: 20px;
    color: #7A8391;
}
