input, select {
  border: unset;
  color: black;
  outline: none;
  -webkit-appearance: none;
}

input::placeholder {
  color: #666;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:required:invalid {
  color: #666;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: #000;
}

button {
  background-color: #F9AC19;
  color: #615d57;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #efa00c;
  transition: background-color 0.3s ease;
}

button:active {
  background-color: #de9914;
  transition: background-color 0.3s ease;
}
