input, select {
  border: unset;
  color: black;
  outline: none;
  -webkit-appearance: none;
}

input::placeholder {
  color: #666;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:required:invalid {
  color: #666;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: #000;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  border-radius: 5px;
  background-color: #6B30FF;
  color: #FFFF;
  transition: background-color 0.4s ease;
}

button:hover {
  background-color: #7947f7;
  transition: background-color 0.4s ease;
}

button:active {
  background-color: #340c98;
  transition: background-color 0.4s ease;
}

.notify {
  padding: 26px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.notify img {
  margin-right: 15px;
}

.notify-warn {
  background-color: #FFF9EC;
}

.notify-err {
  background-color: #FFF1F0;
}
