.bank-head {
    display: grid;
    text-align: center;
    font-size: 22px;
}

.bank-head img {
    margin-bottom: 8px;
    margin: auto;
    height: 100px;
}

.bank-head p {
    margin-top: 9px;
    margin-bottom: 0;
}

.form {
    margin: 25px auto 0;
    display: grid;
    width: 300px;
}

.form input:not(:last-child) {
    margin-bottom: 11px;
}

.select-bank {
    margin-bottom: 11px;
    width: 100%;
}

.bank-extra-info {
    font-size: 9px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.start-process-btn > span {
  vertical-align: middle;
}

.start-process-btn > span {
    margin-left: 7px;
}

@media only screen and (max-width: 800px) {
    .bank-info {
        font-size: 11px;
    }
}