.footer {
    width: 315px;
    margin: auto;
    text-align: center;
}

.powered-by {
    background-color: #F3F3F3;
    width: 315px;
    height: 23px;
    border-radius: 6px;
    font-size: 13px;
    line-height: 23px;
    margin-top: 10px;
}

.powered-by img {
    height: 11px;
    width: 8.07px;
}

.step-circle {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
}

.step-circle:not(:last-child) {
    margin-right: 8px;
}

.step-inactive {
    background-color: #C8C1B5;
}

.step-active {
    background-color: #F9AC19;
}