input, select {
  height: 45px;
  width: 300px;
  border: 1.5px #DDDDDD solid;
  background-color: #FFFFFF;
  padding-left: 10px;
  color: black;
  outline: none;
  font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select {
  font-size: 18px;
  height: 50px;
}

select:required:invalid {
  color: #666;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: #000;
}

button {
  background-color: #F9AC19;
  color: #615d57;
  height: 44px;
  width: 315px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;

  display: block;
  margin: auto;

  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #efa00c;
  transition: background-color 0.3s ease;
}

button:active {
  background-color: #de9914;
  transition: background-color 0.3s ease;
}